*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}
.evidenziato{
    background-color: rgb(0, 140, 255);
}

.content{
    display: flex;
    justify-content: center;
}

.content-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.quadrato{
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#griglia{
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}